* {
    margin: 0;
    padding: 0;
}

/* web layout ////////////////////////////////////////////////*/
body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fad3f0;
}

/* first-nav /////////////////////////////////////////////// */
.ad-nav a {
    color: #fff;
}

.ad-nav {
    height: 48px;
    width: 100%;
    margin-top: 100px;
    background-color: #56021F;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main nav ///////////////////////////////////////////////// */
#navbar {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #E6B2BA;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid rgb(143, 143, 143);
}

.bar {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}

.bar a {
    color: #000000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.search {
    height: 50%;
    width: 280px;
    display: flex;
    align-items: center;
}

.searchbtn {
    background-color: #ffb7b7;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 15%;
    height: 95%;
}

.searchinput {
    background-color: #f5f5f5;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    width: 85%;
    height: 95%;
}

.heart {
    height: 100%;
    width: 4%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #da6161;
}

.cart {
    height: 100%;
    width: 4%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #da6161;
}

.account {
    height: 20px;
    width: 20px;
    background-image: url("imgs/user.png");
    background-size: cover;
}

/* hero ////////////////////////////////////////////////// */
.hero-ad {
    width: 85%;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #56021F;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.half {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

.but-1 a {
    text-decoration: none;
    color: #00ff66;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.text {
    color: #fff;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.cir {
    height: 50px;
    width: 260px;
    display: flex;
    justify-content: space-around;
}

.c1 {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.jbl {
    height: 80%;
    width: 50%;
    background-image: url("imgs/jbl.png");
    background-size: cover;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.but-2 button {
    height: 50px;
    width: 140px;
    background-color: #E6B2BA;
    color: #56021F;
    border-radius: 6px;
    font-weight: 700;
    border: none;
}

.but-2 button:hover {
    background-color: #da6161;
    transition: all 0.5s ease;
}

/* today /////////////////////////////////////////////////*/
.to {
    width: 80%;
    height: 40px;
    margin-top: 25px;
    color: #56021F;
    display: flex;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.day {
    height: 40px;
    width: 25px;
    border-radius: 5px;
    background: #56021F;
    margin-right: 5px;
}

/* sale ///////////////////////////////////////////////////*/
.sale {
    height: 50px;
    width: 83%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flash {
    font-weight: 600;
    display: flex;
    align-items: end;
}

.time {
    height: 50px;
    width: 55%;
    display: flex;
    justify-content: center;
}

.t {
    height: 50px;
    width: 80px;
    text-align: center;
}

.t p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.t h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.colon {
    font-size: 40px;
    font-weight: 900;
    color: #DB4444;
}

.btnn {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.btn {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    background-color: #C683D7;
}

/* ads  countainer   */

.ad-cont {
    height: 280px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 120px;
}

.wishlist {
    height: 280px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 120px;
}

.ad-products {
    margin-bottom: 660px;
}

.ads {
    height: 70%;
    width: 150px;
    margin: 4px;
    padding: 10px;
    background-color: #C683D7;
    border-radius: 4px;
    border: 2px solid #da6161;
}

.ad-cont :hover {
    scale: 1.01;
}

.wish {
    height: 20px;
    width: 20px;
    /* padding: 4px; */
    background-color: #ff0000;
    border-radius: 40%;
    border: none;
}

.view {
    height: 20px;
    width: 20px;
    /* padding: 4px; */
    background-color: #a231ff;
    border-radius: 40%;
    border: none;
}

.delete {
    height: 20px;
    width: 22px;
    padding: 4px;
    background-color: #ff3131;
    border-radius: 40%;
    border: none;
}

.addcart {
    height: 20px;
    width: 22px;
    padding: 4px;
    background-color: #a231ff;
    border-radius: 40%;
    border: none;
}

.name {
    color: #00063f;
    font-size: 14px;
}

.prize {
    font-size: 16px;
    display: inline;
    color: #692100;
}

.ad-img {
    display: flex;
    /* background-color: #E3A5C7; */
    height: 78%;
    background-size: cover;
}

.off {
    height: 10%;
    width: 25%;
    color: #fff;
    font-size: 14px;
    padding: 4px;
    background-color: #DB4444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%;
}

/* view */

.view-all {
    width: 80%;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 40px;
    border-bottom: 2px solid #c73c3c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-btn {
    height: 50px;
    width: 200px;
    background-color: #E6B2BA;
    color: #56021F;
    border-radius: 20px;
    font-weight: 700;
    border: 2px solid #56021F;
}

.view-btn:hover {
    background-color: #da6161;
    transition: all 0.5s ease;
}

/* brouse */

.cate {
    height: 380px;
    width: 80%;
    margin-top: 60px;
    border-bottom: 2px solid #c73c3c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cat {
    height: 140px;
    width: 130px;
    margin: 2px;
    border: 2px solid #da6161;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cat:hover {
    background-color: #C683D7;
    color: #56021F;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 20px #56021F, -2px -2px 20px #56021F;
}

.icon {
    height: 30%;
    width: 50%;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.iname {
    height: 20%;
    width: 70%;
    text-align: center;
    margin-top: 8px;
}

/* arival */

.arival {
    height: 600px;
    width: 80%;
    margin-top: 60px;
    margin-bottom: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px 25px;
}

.ar-ads-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("imgs/ps5.png");
    background-size: cover;
}

.ar-ads-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    background-image: url("imgs/women.png");
    background-size: cover;
}

.ar-ads-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-image: url("imgs/sp.png");
    background-size: cover;
}

.ar-ads-4 {
    grid-column-start: 4;
    grid-column-end: 5;
    background-image: url("imgs/per.png");
    background-size: cover;
}

/* user */

.user {
    height: 190px;
    width: 85%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uad {
    height: 95%;
    width: 32%;
    border: 2px solid #56021F;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.border {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #da6161;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul {
    background-color: #000000;
    height: 65px;
    width: 65px;
    font-size: 28px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.un {
    height: 30px;
    width: 262px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.uid {
    height: 26px;
    width: 262px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* footer */
footer {
    margin-bottom: 0;
    margin-top: 150px;
    width: 90%;
}

.foot-panel {
    background-color: #000000;
    color: #ffffff;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* overflow-x: auto; */
}

.one a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 35px;
}

.one p {
    margin-top: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.email {
    margin-top: 20px;
    height: 45px;
    width: 98%;
    border: 2px solid #7c7c7c;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.email input {
    height: 38px;
    width: 70%;
    background-color: transparent;
    border: none;
}

.two address {
    margin: 15px 0px;
    font-size: 14px;
    font-weight: 500;
}

.two a {
    margin: 15px 0px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;

}


.three a {
    margin: 25px 0px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}


.four a {
    margin: 25px 0px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.five p {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #7c7c7c;
}

.google {
    margin: 20px 0px;
    height: 100px;
    width: 95%;
    background-image: url("imgs/google.png");
    background-size: cover;
}

.one,
.two,
.three,
.four,
.five {
    width: 160px;
    height: 280px;
    margin: 50px 10px;
}

.foot-panel-2 {
    background-color: #0f0f0f;
    border-top: 0.2px solid #7c7c7c;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7c7c7c;
}

pre {
    color: #7c7c7c;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

/* ///////////////////////////////////////////////////////// */
/* ////////////////////   Signup\login  //////////////////// */
/* ///////////////////////////////////////////////////////// */
.signup {
    margin-top: 100px;
    height: 550px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.signupimg {
    background-image: url("imgs/login.jpg");
    background-size: cover;
    width: 50%;
    height: 80%;
}

.signupmodem {
    height: 60%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.signupmodem input {
    height: 12%;
    width: 80%;
    padding: 0px 10px;
    border: none;
    border-radius: 5px;
}

.sgbtn {
    height: 12%;
    width: 85%;
    background-color: #c7e4db;
    border: 2px solid #108055;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sgbtn img {
    margin: 0px 10px;
}

/* ////////////////////////////////////////////// */
/* /////////////////  about  //////////////////// */
/* ////////////////////////////////////////////// */

.story {
    width: 40%;
}

.story p {
    font-weight: 500;
    margin: 20px 0px;
}

.storyimg {
    width: 55%;
    height: 70%;
    background-image: url("imgs/storyimg.jpg");
    background-size: cover;
}

.aboutcat {
    width: 200px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2px solid #56021F;
    margin: 1px 5px;
    font-weight: 300;
}

.us {
    height: 360px;
    margin: 20px;
    width: 55%;
    background-image: url("imgs/us.png");
    background-size: cover;
}

/* ////////////////////////////////////////////// */
/* /////////////////  contact  ////////////////// */
/* ////////////////////////////////////////////// */

#cmsg {
    height: 30%;
}

.contact-us {
    width: 35%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.callus {
    height: 42%;
    width: 98%;
    padding: 5px;
    border-bottom: 2px solid #2e2e2e;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.writeus {
    height: 55%;
    width: 98%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.callus h1,
.writeus h1 {
    display: flex;
    align-items: center;
}

/* ////////////////////////////////////////////// */
/* /////////////////  cart ////////////////////// */
/* ////////////////////////////////////////////// */
.wishes {
    height: 70%;
    width: 160px;
    margin: 4px;
    padding: 10px;
    background-color: #f0b4ff;
    border-radius: 4px;
    border: 2px solid #c00040;
    list-style: none;
}

.cart-cont {
    margin-top: 90px;
    height: 800px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carthead {
    height: 40px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1px 20px;
    margin: 8px 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.507), -2px -2px 10px rgba(0, 0, 0, 0.507);
}

.cartlist {
    padding-top: 10px;
    height: 400px;
    width: 100%;
    /* padding: 1px 20px; */
    margin-bottom: 50px;
    display: flex;
    align-items: start;
    /* justify-content: space-evenly; */
    flex-direction: column;
}

.cartitem {
    height: 40px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 20px;
    border-radius: 10px;
    margin: 8px 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.507), -2px -2px 10px rgba(0, 0, 0, 0.507);
}

.product {
    height: 90%;
    width: 180px;
    display: flex;
    align-items: center;
}

.productpic {
    height: 35px;
    width: 35px;
    border: 1px solid black;
    margin-right: 5px;
    background-size: cover;
}

.productname {
    height: 20px;
    width: 150px;
    font-weight: 400;
}

.quantity {
    width: 35px;
    height: 20px;
    border: none;
    padding: 5px;
}

.proceed {
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    border: 2px solid #56021F;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #af0000, -1px -1px 5px #af0000;
}

.proceed div {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.proceed span {
    height: 0px;
    width: 90%;
    border: 1px solid #56021F;
}

/* ////////////////////////////////////////////// */
/* /////////////// account ////////////////////// */
/* ////////////////////////////////////////////// */

.greeting {
    color: #da6161;
}

.accountmodem {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.accountmodem input {
    height: 6%;
    width: 80%;
    padding: 0px 10px;
    border: none;
    border-radius: 5px;
}

.save {
    height: 5%;
    width: 60%;
    background-color: #3cc792;
    border-radius: 2px;
    padding: 5px;
    border: none;
}

.cancel {
    height: 5%;
    width: 60%;
    background-color: #c73c3c;
    border-radius: 2px;
    padding: 5px;
    border: none;
}

/* /////////////////////////////////////////////// */
/* /////////////// details ////////////////////// */
/* ///////////////////////////////////////////// */


.productimg {
    width: 300px;
    height: 300px;
    background-color: #C683D7;
}

.wishdet {
    background-color: rgb(190, 0, 0);
    color: #ff854d;
    border: 2px solid #53001d;
}

.addcartdet {
    background-color: rgb(76, 190, 0);
    color: #b8ff7d;
    border: 2px solid #176400;
}


/* /////////////// allproduct //////////////////// */
/* ////////////////////////////////////////////// */

.allprod {
    margin-top: 120px;
    width: 90%;
    height: 3800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.allproduct {
    height: 180px;
    min-width: 130px;
    margin: 4px;
    padding: 10px;
    background-color: #C683D7;
    border-radius: 4px;
    border: 2px solid #da6161;
}

.categories {
    height: 300px;
    width: 95%;
    background-color: #ebaaff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: 8px double #56021F;
}

.cate-div {
    height: 270px;
    width: 96%;
    background-color: #53001d;
    border: 10px solid #56021F;
    overflow-x: auto;
    display: flex;
    align-items: center;
}
































/* ///////////////////responsive////////////////////// */
@media (max-width:1100px) {
    .cate {
        height: 620px;
    }

    .ad-cont {
        height: 500px;
        margin: 30px 0px 30px 0px;
    }

    .ad-products {
        margin-bottom: 900px;
    }

    .ads {
        height: 38%;
    }

    .arival {
        height: 400px;
    }

    .un {
        font-size: 14px;
    }

    .uid {
        font-size: 11px;
    }

    .foot-panel {
        height: 800px;
    }

    .signupimg {
        height: 60%;
    }

    .storyimg {
        width: 50%;
        height: 50%;
    }

    .us {
        height: 182px;
        width: 35%;
    }

}

/* ////////// */
@media(max-width:700px) {
    body {
        font-size: 13px;
    }

    #navbar {
        height: 100px;
    }

    body,
    .ads,
    .sale,
    .t p,
    .t h1,
    .colon,
    .proceed,
    .save,
    .cancel {
        font-weight: 300;
    }

    .prize {
        font-size: 10px;
    }

    .name {
        font-size: 12px;
    }

    .wish {
        font-size: 12px;
        height: 14px;
        width: 14px;
    }

    .view {
        font-size: 12px;
        height: 14px;
        width: 14px;
    }

    .ad-cont {
        height: 150px;
        width: 85%;
        margin-bottom: 380px;
    }

    .ad-products {
        margin-bottom: 1520px;
    }

    .ads {
        height: 95%;
        width: 90px;
        margin: 10px;
        font-size: 10px;
    }

    .cate {
        height: 820px;
    }

    .cat {
        height: 100px;
        width: 80px;
    }

    .icon {
        font-weight: 200;
        font-size: 20px;
        text-align: center;
    }

    .arival {
        height: 250px;
    }

    .user {
        display: flex;
        flex-wrap: wrap;
    }

    .uad {
        width: 190px;
    }

    .foot-panel {
        margin-top: 300px;
        height: 1300px;
    }

    .one,
    .two,
    .three,
    .four,
    .five {
        width: 160px;
        height: 240px;
        margin: 10px;
    }

    pre {
        font-size: 14px;
    }

    .signupimg {
        width: 0px;
        height: 0px;
    }

    .signupmodem {
        width: 100%;
    }

    .storyimg {
        width: 0;
    }

    .story {
        width: 95%;
        height: 70%;
        background-image: url(imgs/storyimg.jpg);
        background-size: cover;
        color: #2e2e2e;
    }

    .aboutcat {
        height: 30%;
    }

    .us {
        display: none;
    }

    .contact-us {
        width: 90%;
    }

    .proceed {
        width: 200px;
    }

    .allproduct {
        height: 150px;
        width: 95px;
    }

    .cate-div {
        height: 200px;
        /* width: 95px; */
    }

    .categories {
        height: 250px;
    }

    .product{
        width: 140px;
    }
}